<form class="complex-form" id="create-message-form" (submit)="onSubmit()">
  <div class="form-title">Post a message</div>
  <input
    type="text"
    id="post-username"
    class="form-element"
    placeholder="Enter your name"
    name="username"
    required
    [(ngModel)]="postUsername"
  />
  <textarea
    rows="5"
    id="post-content"
    class="form-element"
    placeholder="Enter your message"
    required
    name="content"
    [(ngModel)]="postContent"
  ></textarea>
  <button type="submit" class="btn">Post your message</button>
</form>

<div id="messages">
  <app-message
    *ngFor="let message of messages"
    [message]="message"
    (onUpvote)="onUpvote($event)"
    (onDownvote)="onDownvote($event)"
  ></app-message>
</div>
