.message {
  margin: 0.5em 0;
  padding: 0.5em 0;
  border-bottom: 1px solid grey;
}

.message-user {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-picture {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.message-picture img {
  max-width: 100%;
}

.message-username {
  padding-top: 5px;
}

.message-content {
  font-size: 24px;
}

.icon {
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
}

.delete-icon {
  background-image: url("../../../assets/delete-icon.png");
}

.upvote-icon {
  background-image: url("../../../assets/upvote-icon.png");
}

.downvote-icon {
  background-image: url("../../../assets/downvote-icon.png");
}
