<div class="row message align-items-center">
  <div class="col-1 message-user">
    <img
      class="message-picture"
      src="../../../assets/user.png"
      [alt]="message?.username"
    />
    <div class="message-username">{{ message?.username }}</div>
  </div>
  <div class="col-auto message-content">
    {{ message?.content }}
  </div>
  <div class="col-1 upvote-icon icon" (click)="upvote()">
    {{ message?.upvote }}
  </div>
  <div class="col-1 downvote-icon icon" (click)="downvote()">
    {{ message?.downvote }}
  </div>
  <div class="col-1 delete-icon icon"></div>
</div>
