.flex {
  display: flex;
  flex-wrap: wrap;
}

.box {
  border: 1px black solid;
  padding: 0.5em; /* `em` unit means relative to the font size of the element */
  margin: 0.2em;
  font-size: 28px;
}

.flex-1 {
  flex: 1 1 30%;
}

@media screen and (max-width: 768px) {
  .flex {
    flex-direction: column;
  }
}
